.footer {
    background-color: #AE7C78;
    height: 97px;
    display: flex;

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

    }

    &__wrapper {
        background-color: #AE7C78;
        width: 100%;
    }

    &__p {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: center;
        color: #FFFFFF;
    }
}